@using RecettesFamille.Dto.Models.Blocks
@inherits BaseBlockDefinition<BlockBaseDto>
@{
    Md = Block.HalfPage ? 6 : 12;
}
<MudItem xs="Xs" md="Md">
    <MudStack Row="true" StretchItems="StretchItems.Start">
        @switch (Block)
        {
            case BlockInstructionDto instructionBlock:
                <InstructionComponent EditMode="EditMode" Block="instructionBlock" OnBlockUpdated="OnBlockUpdated" OnBlockDeleted="OnBlockDeleted" />
                break;
            case BlockIngredientListDto ingredientListBlock:
                <IngredientComponent EditMode="EditMode" Block="ingredientListBlock" OnBlockUpdated="OnBlockUpdated" OnBlockDeleted="OnBlockDeleted" />
                break;
            case BlockImageDto imageBlock:
                <ImageComponent EditMode="EditMode" Block="imageBlock" OnBlockUpdated="OnBlockUpdated" OnBlockDeleted="OnBlockDeleted" />
                break;

            // Ajoutez d'autres cas pour différents types de blocs ici
            default:
                <p>Type de bloc non pris en charge</p>
                break;
        }

        @if (EditMode)
        {
            <MudButtonGroup Color="Color.Primary" Variant="Variant.Outlined" Vertical="true" Size="Size.Small">
                <MudIconButton Class="@ToolsPaddings" Icon="@Icons.Material.Filled.Delete" Color="@Color.Error" OnClick="OnBlockDelete" Size="Size.Small" />

                <MudToggleIconButton Class="@ToolsPaddings" ToggledChanged="OnToggledChanged" Toggled="Block.HalfPage" Icon="@Icons.Material.Filled.Fullscreen" ToggledIcon="@Icons.Material.Filled.FullscreenExit" />

                <MudIconButton Class="@ToolsPaddings" Icon="@Icons.Material.Filled.ArrowDropUp" OnClick="OnMoveUp"></MudIconButton>
                <MudIconButton Class="@ToolsPaddings" Icon="@Icons.Material.Filled.ArrowDropDown" OnClick="OnMoveDown"></MudIconButton>
            </MudButtonGroup>
        }
    </MudStack>
</MudItem>
@code {
    [Inject] private IDialogService DialogService { get; set; } = null!;

    public int Xs { get; set; } = 12;
    public int Md { get; set; } = 12;

    private void OnMoveUp() => base.MoveUp?.Invoke(Block);
    private void OnMoveDown() => base.MoveDown?.Invoke(Block);

    const string ToolsPaddings = "px-1 py-0";


    public void OnToggledChanged(bool toggled)
    {
        Block.HalfPage = toggled;
        OnBlockUpdated?.Invoke(Block);
    }

    private async Task OnBlockDelete()
    {
        var result = await DialogService.ShowMessageBox("Warning", "Deleting can not be undone!", yesText: "Delete!", cancelText: "Cancel");

        if (result is null)
            return;

        OnBlockDeleted?.Invoke(Block);
    }
}
