@using RecettesFamille.Managers
@inherits LayoutComponentBase

<MudThemeProvider IsDarkMode="true" Theme="CustomThemeManager.Customtheme"/>
<MudDialogProvider/>
<MudSnackbarProvider/>
<MudPopoverProvider/>

<MudLayout>
    <MudAppBar Elevation="1" Dense="true">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start"/>
        <MudButton Href="/" Style="font-weight: bold;" Class="mud-typography mud-typography-body2"
                   Color="Color.Inherit">Recettes famille
        </MudButton>
    </MudAppBar>

    <MudDrawer @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2">
        <MudNavMenu>
            <MudNavLink Href="admin" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home">Home</MudNavLink>
            <MudNavLink Href="admin/migrations" Match="NavLinkMatch.All"
                        Icon="@Icons.Material.Filled.TransferWithinAStation">Migration
            </MudNavLink>
            <MudNavLink Href="admin/prompt" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.ImportExport">
                Prompt editor
            </MudNavLink>
            <MudNavLink Href="admin/statistics" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.GraphicEq">
                Statistics
            </MudNavLink>
            <MudNavLink Href="/" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.ArrowBack">
                Back to the web
                site
            </MudNavLink>
            <MudNavLink Href="admin/tag" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.ArrowBack">
                Tags
            </MudNavLink>
        </MudNavMenu>
    </MudDrawer>

    <CustomErrorBoundary>
        <MudMainContent Class="mt-12 pa-4">
            <MudContainer MaxWidth="MaxWidth.Large">

                @Body

            </MudContainer>
        </MudMainContent>
    </CustomErrorBoundary>
</MudLayout>


<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private bool _drawerOpen = true;

    private void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

}