@using RecettesFamille.Managers
@inherits LayoutComponentBase

<MudThemeProvider @ref="_mudThemeProvider" IsDarkMode="isDarkMode" Theme="CustomThemeManager.Customtheme" />
<MudDialogProvider />
<MudSnackbarProvider />
<MudPopoverProvider />

<MudLayout>
    <MudAppBar Elevation="1" Dense="true">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@DrawerToggle" />
        <MudText Typo="Typo.body1" Style="font-weight: bold;" Class="ml-3">Recettes famille</MudText>
        <MudSpacer />
        <MudToggleIconButton ToggledChanged="OnToggledChanged"
                             Icon="@Icons.Material.Outlined.DarkMode"
                             ToggledIcon="@Icons.Material.Filled.LightMode"
                             ToggledColor="@Color.Error" />

    </MudAppBar>

    <MudDrawer @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2">
        <NavMenu />
    </MudDrawer>

    <MudMainContent Class="mt-12 pa-4">
        <MudContainer MaxWidth="MaxWidth.Large">

            @Body

        </MudContainer>
    </MudMainContent>
</MudLayout>


<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    [Inject]
    private Blazored.LocalStorage.ILocalStorageService LocalStorage { get; set; } = null!;
    private bool _drawerOpen = true;
    private bool isDarkMode = false;
    private MudThemeProvider _mudThemeProvider;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var userPreferenceDarkMode = await LocalStorage.GetItemAsync<bool?>("userPreferenceDarkMode");

            isDarkMode = userPreferenceDarkMode ?? await _mudThemeProvider.GetSystemPreference();

            StateHasChanged();
        }
    }

    private async Task OnToggledChanged(bool isDark)
    {
        isDarkMode = isDark;
        await LocalStorage.SetItemAsync("userPreferenceDarkMode", isDark);

    }

    private void DrawerToggle()
    {

        _drawerOpen = !_drawerOpen;
    }
}